---

---
<section class="pt-10">
  <h1 class="text-4xl text-center ">¿Quiénes somos?</h1>
  <div class="flex flex-col text-lg text-center p-5 ">

    <p>En [Nombre de la empresa] somos un equipo apasionado por la tecnología y comprometidos con ofrecer soluciones integrales para su presencia online y el buen funcionamiento de sus equipos informáticos.</p>
    <p>Nuestra experiencia en diseño web y reparación de ordenadores nos permite brindar un servicio completo y de calidad, adaptado a las necesidades de cada cliente. Nos enorgullece contar con un equipo de profesionales altamente cualificados y en constante formación, siempre a la vanguardia de las últimas tendencias tecnológicas.</p>
    <p>En [Nombre de la empresa] creemos que la tecnología debe ser una herramienta al servicio de las personas y las empresas. Por eso, nos esforzamos por ofrecer un trato cercano y personalizado, escuchando atentamente las necesidades de cada cliente para ofrecerle la mejor solución posible.</p>
  </div>

  <h4>Nuestros valores fundamentales son:</h4>
  <div>

    <p>Profesionalidad: Trabajamos con rigor y seriedad, ofreciendo un servicio de alta calidad.
      Compromiso: Nos comprometemos con nuestros clientes para ofrecerles la mejor solución posible.
      Cercanía: Ofrecemos un trato cercano y personalizado, escuchando atentamente las necesidades de cada cliente.
      Innovación: Estamos en constante formación para ofrecer las últimas soluciones tecnológicas a nuestros clientes.</p>
      <p>Profesionalidad: Trabajamos con rigor y seriedad, ofreciendo un servicio de alta calidad.
        Compromiso: Nos comprometemos con nuestros clientes para ofrecerles la mejor solución posible.
        Cercanía: Ofrecemos un trato cercano y personalizado, escuchando atentamente las necesidades de cada cliente.
        Innovación: Estamos en constante formación para ofrecer las últimas soluciones tecnológicas a nuestros clientes.</p>
  </div>

</section>