---

---
<footer class="footer w-auto p-8 bg-base-100 text-base-content">
  <aside class="flex justify-center">
    <img src="assets/logo.png" alt="Olbes It Logo" class="w-20 h-20">
    <p>OLBES IT<br>Diseño web y soluciones informáticas</p>
  </aside> 
  <nav>
    <h6 class="footer-title">Servicios</h6> 
    <a class="link link-hover">Marca</a>
    <a class="link link-hover">Diseño web</a>
    <a class="link link-hover">Soporte informático</a>
  </nav> 
  <nav>
    <h6 class="footer-title">Nosotros</h6> 
    <a class="link link-hover">Acerca de</a>
    <a class="link link-hover">Contacto</a>
    <a class="link link-hover">Trabaja con nosotros</a>
  </nav> 
  <nav>
    <h6 class="footer-title">Legal</h6> 
    <a class="link link-hover">Términos y condiciones</a>
    <a class="link link-hover">Políticas de privacidad</a>
    <a class="link link-hover">Políticas de cookie</a>
  </nav>
</footer>