---

---

<header class=" bg-zinc-200 flex text-center px-5 md:flex-row md:text-left md:px-20">
  <div class="hero min-h-screen">
    <div class="hero-content flex-col md:flex-row-reverse">
      <img src="assets/hero/hero.png" class="w-96 rounded-lg shadow-2xl" />
      <div>
        <h1 class="text-xl font-bold py-4 md:text-5xl md:py-0">Diseño web y Soporte informático</h1>
        <p class="py-6 text-xl">En la era digital actual, una presencia web sólida y un sistema informático confiable son esenciales para el éxito de cualquier negocio. En OLBES IT, ofrecemos un conjunto completo de servicios de diseño web y soporte informático para ayudarte a alcanzar tus objetivos personales y comerciales.</p>
        <button class="btn bg-yellow-600 hover:bg-yellow-500 text-zinc-200">Get Started</button>
      </div>
    </div>
  </div>
</header>

