<section class="flex flex-col py-10 md:p-20 gap-y-10">
  <div class="flex-1 grid grid-col-4 gap-4 md:grid-rows-2">
    <div class="text-center flex flex-col items-center">
      <img src="assets/more/webdesing.png" alt="" class="w-60">
      <p class="mt-4">Diseño web</p>
    </div>
    <div class="text-center flex flex-col items-center">
      <img src="assets/more/support.png" alt="" class="w-60">
      <p class="mt-4">Soporte informático</p>
    </div>
  </div>
</section>