---

---
<nav class="navbar bg-base-100 md:px-10 md:visible">
  <div class="flex-1 md:px-10">
    <img src="assets/logo.png" class="w-20" alt="" >
    <a class="btn btn-ghost text-xl text-zinc-200 invisible md:visible" href="/" >OLBES IT</a>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
      <li>
        <details>
          <summary class="text-zinc-200">
            Service
          </summary>
          <ul class="p-2 menu bg-base-200 w-56 rounded-box">
            <li><a class="text-zinc-200">Diseño web</a></li>
            <li><a class="text-zinc-200">Soporte a usuario</a></li>
            <li><a class="text-zinc-200">Soporte a comercio</a></li>
          </ul>
        </details>
      </li>
      <li><a href="/about" class="text-zinc-200">Acerca de</a></li>
      <li><a class="text-zinc-200">Contacto</a></li>
    </ul>
  </div>
</nav>